$light-blue:#4fd9fe;
$blured-blue:#b8d8ef;
$white:#fff;
$blue-border:#00bef2;
$semi-blue:#00bff3;
$dark-blue:#508594;
$tiel:#2f3e3f;
$button-blue:#142666;
$light-grey:#ececec;
$footer-bg-dark:#272f36;
$footer-button:#49c1e2;
$footer-dark-grey:#b9b8b8;
$footer-border-grey:#434a50;
$yellow-button:#ffd70b;
$montserrat:'Montserrat',sans-serif;
$open-sans:'Open Sans',sans-serif;