.footer-about{
  width: 45%;
  display: inline-flex;
  font-weight: 500;
  border-right: $footer-border-grey 2px solid;
  border-left: $footer-border-grey 2px solid;
  padding: 10px 0;

  @media all and (max-width: 780px) {
    display: none;
  }
  & p{
    font-size: 14px;
    text-transform: uppercase;
    color: $semi-blue;
  }

  & ul{

  }

  & ul>li {
    padding: 5px 0;
    line-height: 1.1;
  }

  & ul>li:before{
    @include pseudo-a;
    background-image: url(../img/sprite.png);
    background-position: -450px 0;
    top: 9px;
    left: -12px;
    width: 5px;
    height: 10px;
  }

  & a{
    color: $footer-dark-grey;
    font-size: 14px;
    &:hover{
      color: $light-blue;
      text-decoration: none;
    }
  }


  &__company{

  }

  &__services{
    display: inline-flex;
    margin-left: 30px;

    @media  all and(max-width:840px){
      margin-left: 0;
    }

    & ul>li{
      width: 49%;
      float: left;

      @media all and(max-width: 1065px) {
        width: auto;
        float: none;
      }
    }
  }
}