.footer-consultation{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  //text-align: center;
  align-items: center;
  padding-bottom: 10px;

  @media all and(max-width: 780px) {
    width: auto;
  }
  @media all and(max-width: 540px) {
    margin: auto;
  }

  &__design{
    font-size: 12px;
    color:$footer-dark-grey;
  }
}